<h1>PAX Counters</h1>
<div *ngIf="hasError()" class="error">
    Error retrieving data: {{ errorMessage }}
</div>


<div class="chart-container">
    <canvas #chart class="chart"></canvas>
</div>
<div class="stats">
    Last update {{ lastPoll | date:'yyyy-MM-dd HH:mm'}}
</div>

<div>
    <button (click)="showInterval(168)" [ngClass]="{button: true, activeButton: visibleInterval==168}">1w</button>
    <button (click)="showInterval(24)" [ngClass]="{button: true, activeButton: visibleInterval==24}">1d</button>
    <button (click)="showInterval(12)" [ngClass]="{button: true, activeButton: visibleInterval==12}">12h</button>
    <button (click)="showInterval(1)" [ngClass]="{button: true, activeButton: visibleInterval==1}">Last hour</button>
</div>
<!--<div *ngFor="let sampleSet of dataPoints">
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Bluetooth</th>
            <th>WiFi</th>
        </tr>
        <tr *ngFor="let sample of sampleSet.samples">
            <td>{{ sample.timestamp | date:'YYYY-MM-dd HH:mm' }}</td>
            <td>{{ sample.bluetoothCount }}</td>
            <td>{{ sample.wifiCount }}</td>
        </tr>
    </table>
</div>-->