.device-status-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100%;
}

.device-info {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5em;
    grid-row-gap: .5em;
}

.info-title {
    font-size: 36pt;
    color: #005aa7;
    grid-column: span 2;
}

.metric {
    background-color: #005aa7;
    color: white;
    border-radius: 1em;
}

.metric-value {
    font-size: 36pt;
    text-align: center;
    vertical-align: middle;
    margin-top: 1em;
}

.metric-desc {
    font-size: 14pt;
    text-align: center;
}

.location {
    border: solid 1px black;
}

.data {
    grid-column: span 2;
    border: solid 1px black;
    vertical-align: middle;
}