.device-status-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100%;
}

.device-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.metric {
    background-color: #2696f9;
    color: white;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

.metric-value {
    font-size: 6vh;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.metric-desc {
    font-size: 1vw;
    text-align: center;
}

.location {
    background-color: #dddddd;
    border-radius: 1em;
}

.data {
    grid-column: span 2;
    vertical-align: middle;
}

.chart {
    padding: 1em;
    width: 80vw;
}