<div class="device-status-page">
    <div class="data">
        <div #chart id="chart" class="chart"></div>
        Sist oppdatert {{ lastPoll |date:'YYYY-mm-dd HH:MM'}}
    </div>
    <div class="device-info">
        <div *ngFor="let metric of metrics" class="metric">
            <div class="metric-value">{{ metric.bigText }}</div>
            <div class="metric-desc">{{ metric.smallText }}</div>
        </div>
    </div>
    <div class="location">
        <app-device-map-view [device]="device"></app-device-map-view>
    </div>
</div>